<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>75498058807-c9hcdj12djri53cll5iegl76i9t2oujo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75498058807-c9hcdj12djri53cll5iegl76i9t2oujo</string>
	<key>API_KEY</key>
	<string>AIzaSyB4q65xk9QH0_58z1G3K0ETRdnwXyQrC_E</string>
	<key>GCM_SENDER_ID</key>
	<string>75498058807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waken.Divide</string>
	<key>PROJECT_ID</key>
	<string>divide-1134b</string>
	<key>STORAGE_BUCKET</key>
	<string>divide-1134b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:75498058807:ios:c89b4c4ee5dc37ce</string>
	<key>DATABASE_URL</key>
	<string>https://divide-1134b.firebaseio.com</string>
</dict>
</plist>